<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    {{> header}}
    <!--<h3>{{pageTitle}}</h3>-->
    <h5>Some help here</h5>
    <p>Hi {{screamIt userName}}</p>
    <footer> 
       <!-- <p>Copyrights Shoaib {{currentYear}}</p>-->
        <p>Copyrights Shoaib {{getCurrentYear}}</p>
    </footer>
</body>
</html>