<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    {{> header}}
    <!--<h3>{{pageTitle}}</h3>-->
    <h5>Portfolio Page</h5>
    <p>Hi {{screamIt userName}}</p>
    <h2>My Portfolio goes here</h2>
{{> footer}}
</body>
</html>